@page "/"

@using EventEaseApp.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>To help you get started, we have created a simple event card component. You can customize it by passing different parameters.</p>
<p>For more information on how to use this component, check out the documentation.</p>

Welcome to your new app.
